<style>
  .custom-html-title {
    font-weight: 500;
    font-size: 56px;
    font-family: Marlide Display;
    color: #234240;
  }

  @media screen and (max-width: 999px) {
    .custom-html-title {
      font-size: 42px;
    }
  }

  @media screen and (max-width: 699px) {
    .custom-html-title {
      font-size: 20px;
    }
  }
</style>

<section class="section no-padding" data-section-id="{{ section.id }}" data-section-type="html" style="padding: 0; margin: 0;">
  <div class="container" style="position: relative; padding: 60px 0; margin-bottom: 0; background-image: url('{{ 'BG-1-min.webp' | asset_url }}'); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center; overflow: hidden; max-width: 100%; min-height: 200px;">
    {%- if section.settings.title != blank -%}
      <header class="section__header">
        {%- comment -%}Display collection title on collection pages, but use default title for main collections{%- endcomment -%}
        {%- if template.name == 'collection' and collection.title != blank and collection.handle != 'all-products' and collection.handle != 'detox-shop' -%}
          <h2 class="section__title heading h2 custom-html-title">{{ collection.title | escape }}</h2>
        {%- else -%}
          <h2 class="section__title heading h2 custom-html-title">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}
  </div>

  <div style="background-color: #CBE0D9;">
    <div class="html rte">
      {{ section.settings.html }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your title"
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML",
      "default": "<p>Write or copy/paste HTML code</p>"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}